.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.text {
  display: flex;
  margin: 4%;
  width: 90%;
  height: 100px;
  -webkit-box-shadow: 4px 3px 13px 5px rgba(217, 214, 217, 1);
  -moz-box-shadow: 4px 3px 13px 5px rgba(217, 214, 217, 1);
  box-shadow: 4px 3px 13px 5px rgba(217, 214, 217, 1);
  justify-content: flex-end;
  overflow: hidden;
}
.inputWrapper,
.textTestWrapper,
.finishedWrappper {
  height: 100%;
}
.finishedWrappper,
.textTestWrapper {
  overflow: hidden;
}
.finishedText {
  display: flex;
  justify-content: flex-end;
}
.textTestWrapper {
  min-width: 50%;
  max-width: 50%;
}
.textTest,
.textUser,
.finishedText,
.crossText {
  width: 100%;
  font-size: 35px;
  margin-top: 25px;
  white-space: pre;
}
.crossText {
  text-decoration: line-through;
  color: red;
}
.textUser {
  text-align: "right";
  color: red;
}
